.chat-container {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
  background-image: url('/SvetiSavaMileseva.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.chat-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.70);
  z-index: 0;
}

.chat-container > * {
  position: relative;
  z-index: 1;
}
